
    body {background-image: linear-gradient(to bottom right, white, lightblue);}
    h1{font-family: 'Liu Jian Mao Cao', cursive; font-size: 50px;}
    h2{font-family: 'Liu Jian Mao Cao', cursive; font-size: 30px;}
    p{font-family: 'Roboto', sans-serif;}
    