body, html {background-color: black;color: white;font-family: 'Playfair Display', sans-serif;letter-spacing: 5px;height: 100%;padding: 0px;margin: 0px;} 
 img {display: block;margin: 0 auto;height: 550px;} 
 .paralaxScroll {height: 350px;background-image: url(lib.jpg);background-size: cover;background-attachment: fixed;} 
 .paralaxScroll2 {height: 200px;background-image: url(lib.jpg);background-size: cover;background-attachment: fixed;} 
 h1 {font-size: 72px;text-align: center;margin: 0px;padding: 35px;font-weight: normal;} 
 h3 {text-align: center;} 
 .bgStyle {padding: 12px}.footer {background-color: black;width: 100%;text-align: right;font: normal 20px;letter-spacing: 5px;font-family: 'Playfair Display', sans-serif;padding-top: 80px;padding-bottom:30px} 
 .footer .footer-left p {color: white;font-size: 14px;margin: 0; padding-right:15px;}