html{background-color: cadetblue;}
body {
    https://fonts.googleapis.com/css2?family=Crimson;
}

/* Style the header */
header {
  https://fonts.googleapis.com/css?family=Karla;
  grid-area: header;
  background-color: deepskyblue;
  padding:inherit;
  text-align: center;
  font-size: 30px;
    margin-top: -30px;
}

/* The grid container */
.grid-container {
  display: grid;
  grid-template-areas: 
    'header header header header header header' 
    'left left middle middle right right' 
    'footer footer footer footer footer footer';
} 

.left,
.middle,
.right {
    margin-top: -20px;
  padding: 10px;
}

/* Style the left column */
.left {
  grid-area: left;
  margin-left: 150px;
  background-color: peru;
}

/* Style the middle column */
.middle {
  grid-area: middle;
}

/* Style the right column */
.right {
  grid-area: right;
  margin-right: 150px;
    background-color: peru;
}

/* Style the footer */
footer {
    https://fonts.googleapis.com/css?family=Karla;
  grid-area: footer;
    background-color: deepskyblue;
  padding: 10px;
  text-align: center;
}