/* The following code vertically and horizontally centres the canvas on the page */

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

div {
  color: white;
  position: absolute;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}
