body {
    background-color: lightblue;
  }
  
  h1 {
    color: black;
    text-align: center;
  }
  
  p {
    font-family: verdana;
    font-size: 20px;
  } 

 
  h2 {
    color: black;
    text-align: center;
  }
  
